body {
  padding: 20px;
  background-image: url('/img/background28.jpg');
}
.wrapper {
  max-width: 500px;
}
.btn-1 {
  width: 150px;
  margin: 20px 20px 0 0;
}
.btn-2 {
  width: 150px;
  margin: 20px 20px 0 0;
}
.btn {
  background-color: #fff;
}
